/****************************/
/* BELOW 1360px (Smaller laptops) */
/****************************/

@media (max-width: 85em) {
	.hero {
		max-width: 120rem;
	}

	.heading-primary {
		font-size: 4.4rem;
	}

	.section-testimonials {
		grid-template-columns: 65fr 35fr;
	}

	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}

/****************************/
/* BELOW 1200px (Landscape tablets) */
/****************************/

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.grid {
		column-gap: 4.8rem;
		row-gap: 8rem;
	}

	.heading-secondary {
		font-size: 3.6rem;
	}

	.heading-tertiary {
		font-size: 2.4rem;
	}

	.header {
		padding: 0 3.2rem;
	}

	.main-nav-list {
		gap: 3.2rem;
	}

	.hero {
		gap: 4.8rem;
	}

	.section-testimonials {
		grid-template-columns: 60fr 40fr;
	}

	.testimonials-container {
		padding: 9.6rem;
	}

	.testimonials {
		grid-template-columns: 1fr;
		gap: 8rem;
	}
}
